<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

    
</head>
<body >
    <div id="f16181d0907f4096af6e2c5a6cb57094" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_f16181d0907f4096af6e2c5a6cb57094 = echarts.init(
            document.getElementById('f16181d0907f4096af6e2c5a6cb57094'), 'white', {renderer: 'canvas'});
        var option_f16181d0907f4096af6e2c5a6cb57094 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u8c6b\u83dc",
                    "value": 80
                },
                {
                    "name": "\u9762\u5305\u86cb\u7cd5",
                    "value": 46
                },
                {
                    "name": "\u91cd\u5e86\u706b\u9505",
                    "value": 26
                },
                {
                    "name": "\u56db\u5ddd\u706b\u9505",
                    "value": 25
                },
                {
                    "name": "\u5ddd\u83dc\u9986",
                    "value": 23
                },
                {
                    "name": "\u8336\u996e\u679c\u6c41",
                    "value": 23
                },
                {
                    "name": "\u7279\u8272\u83dc",
                    "value": 22
                },
                {
                    "name": "\u7ca4\u83dc\u9986",
                    "value": 22
                },
                {
                    "name": "\u65e5\u672c\u6599\u7406",
                    "value": 21
                },
                {
                    "name": "\u5feb\u9910\u7b80\u9910",
                    "value": 20
                },
                {
                    "name": "\u5496\u5561",
                    "value": 20
                },
                {
                    "name": "\u878d\u5408\u70e4\u8089",
                    "value": 18
                },
                {
                    "name": "\u5c0f\u5403\u5feb\u9910",
                    "value": 16
                },
                {
                    "name": "\u897f\u9910",
                    "value": 16
                },
                {
                    "name": "\u82cf\u6d59\u83dc",
                    "value": 14
                },
                {
                    "name": "\u70e4\u4e32",
                    "value": 13
                },
                {
                    "name": "\u6d59\u83dc",
                    "value": 13
                },
                {
                    "name": "\u6bd4\u8428",
                    "value": 12
                },
                {
                    "name": "\u706b\u9505",
                    "value": 12
                },
                {
                    "name": "\u751c\u54c1",
                    "value": 11
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "40%",
                "50%"
            ],
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{b}: {c}",
                "valueAnimation": false
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8c6b\u83dc",
                "\u9762\u5305\u86cb\u7cd5",
                "\u91cd\u5e86\u706b\u9505",
                "\u56db\u5ddd\u706b\u9505",
                "\u5ddd\u83dc\u9986",
                "\u8336\u996e\u679c\u6c41",
                "\u7279\u8272\u83dc",
                "\u7ca4\u83dc\u9986",
                "\u65e5\u672c\u6599\u7406",
                "\u5feb\u9910\u7b80\u9910",
                "\u5496\u5561",
                "\u878d\u5408\u70e4\u8089",
                "\u5c0f\u5403\u5feb\u9910",
                "\u897f\u9910",
                "\u82cf\u6d59\u83dc",
                "\u70e4\u4e32",
                "\u6d59\u83dc",
                "\u6bd4\u8428",
                "\u706b\u9505",
                "\u751c\u54c1"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "80%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u5e97\u94fa\u7c7b\u578b\u5360\u6bd4\u997c\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_f16181d0907f4096af6e2c5a6cb57094.setOption(option_f16181d0907f4096af6e2c5a6cb57094);
    </script>
</body>
</html>
