<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

    
</head>
<body >
    <div id="84e3c52d433449dfb4b92753a1d51a20" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_84e3c52d433449dfb4b92753a1d51a20 = echarts.init(
            document.getElementById('84e3c52d433449dfb4b92753a1d51a20'), 'white', {renderer: 'canvas'});
        var option_84e3c52d433449dfb4b92753a1d51a20 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u4eba\u5747\u6d88\u8d39",
            "legendHoverLink": true,
            "data": [
                323,
                326,
                326,
                338,
                360,
                394,
                480,
                486,
                502,
                780
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8,
                "valueAnimation": false
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4eba\u5747\u6d88\u8d39"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": -15,
                "margin": 8,
                "valueAnimation": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "data": [
                "\u672c\u8349\u98df\u5e93\u836f\u81b3\u9986(\u798f\u5143\u8def\u5e97)",
                "\u6d77\u4e0e\u5c71\u2022\u548c\u725b\u70e7\u8089(\u9f99\u6e56\u91cc\u5e97)",
                "\u4e0a\u4e95\u00b7\u7cbe\u81f4\u6599\u7406(\u6b63\u5f18\u57ce\u5e97)",
                "\u4e0a\u4e95\u00b7\u7cbe\u81f4\u6599\u7406(\u5927\u536b\u57ce\u5e97)",
                "\u9c81\u73ed\u5f20\u8471\u70e7\u6d77\u53c2(\u7eff\u5730\u65b0\u90fd\u4f1a\u5e97)",
                "\u90d1\u5dde\u7eff\u5730JW\u4e07\u8c6a\u9152\u5e97The Grill\u70e4\u6c47\u6252\u623f",
                "\u5c71\u5916\u73cd\u5473\u9910\u5385",
                "\u5df4\u9ece\u4e4b\u82b1\u6cd5\u56fd\u9910\u5385(CBD\u5e97)",
                "\u7099\u9053\u00b7\u548c\u725b\u70e7\u8089\u9152\u573a(\u6977\u6797\u5e97)",
                "\u6708\u4e0b\u6599\u7406(\u6977\u6797IFC\u5e97)"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u7f8e\u98df\u5e97\u94fa\u4eba\u5747\u6d88\u8d39top10",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_84e3c52d433449dfb4b92753a1d51a20.setOption(option_84e3c52d433449dfb4b92753a1d51a20);
    </script>
</body>
</html>
