<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

    
</head>
<body >
    <div id="17217029fa6c4c8ebc73f944b630bea7" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_17217029fa6c4c8ebc73f944b630bea7 = echarts.init(
            document.getElementById('17217029fa6c4c8ebc73f944b630bea7'), 'white', {renderer: 'canvas'});
        var option_17217029fa6c4c8ebc73f944b630bea7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u8bc4\u8bba\u4eba\u6570",
            "data": [
                {
                    "name": "\u97e9\u98ce\u6e90\u70e7\u70e4\u6dae\u81ea\u52a9\u9910\u5385(\u5357\u4e00\u73af\u5e97\u00b7\u4e8c\u5e97)",
                    "value": 9708
                },
                {
                    "name": "\u57ce\u5899\u6839\u8336\u9986(\u91d1\u6c34\u8def\u5e97)",
                    "value": 10168
                },
                {
                    "name": "\u7089\u5c0f\u54e5\u70e4\u8089(\u5927\u536b\u57ce\u5e97)",
                    "value": 10202
                },
                {
                    "name": "\u9e1f\u862d\u70e7\u8089\u4e00\u756a(\u82b1\u56ed\u8def\u4e07\u8fbe\u574a\u5e97)",
                    "value": 10840
                },
                {
                    "name": "\u845b\u8bb0\u7116\u997c(\u7ecf\u4e00\u8def\u5e97)",
                    "value": 13239
                },
                {
                    "name": "\u8881\u8001\u56db\u8001\u706b\u9505(\u90d1\u5dde\u603b\u5e97)",
                    "value": 14243
                },
                {
                    "name": "\u845b\u8bb0\u7116\u997c(\u4f0f\u725b\u8def\u5e97)",
                    "value": 15902
                },
                {
                    "name": "\u4fc4\u58eb\u53a8\u623f(\u672a\u6765\u8def\u5e97)",
                    "value": 16879
                },
                {
                    "name": "\u559c\u867e\u5ba2\u00b7\u5927\u867e\u706b\u9505(\u90d1\u5dde\u65e0\u9650\u57ce\u5e97)",
                    "value": 21525
                },
                {
                    "name": "\u9189\u5df4\u9c9c\u70e4\u9c7c(\u56fd\u8d38\u5e97)",
                    "value": 25581
                }
            ],
            "min": 0,
            "max": 100,
            "minSize": "0%",
            "maxSize": "100%",
            "orient": "vertical",
            "sort": "descending",
            "gap": 0,
            "legendHoverLink": true,
            "funnelAlign": "center",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "valueAnimation": false
            },
            "selectedMode": false,
            "zlevel": 0,
            "z": 2
        }
    ],
    "legend": [
        {
            "data": [
                "\u9189\u5df4\u9c9c\u70e4\u9c7c(\u56fd\u8d38\u5e97)",
                "\u7089\u5c0f\u54e5\u70e4\u8089(\u5927\u536b\u57ce\u5e97)",
                "\u8881\u8001\u56db\u8001\u706b\u9505(\u90d1\u5dde\u603b\u5e97)",
                "\u97e9\u98ce\u6e90\u70e7\u70e4\u6dae\u81ea\u52a9\u9910\u5385(\u5357\u4e00\u73af\u5e97\u00b7\u4e8c\u5e97)",
                "\u845b\u8bb0\u7116\u997c(\u4f0f\u725b\u8def\u5e97)",
                "\u559c\u867e\u5ba2\u00b7\u5927\u867e\u706b\u9505(\u90d1\u5dde\u65e0\u9650\u57ce\u5e97)",
                "\u4fc4\u58eb\u53a8\u623f(\u672a\u6765\u8def\u5e97)",
                "\u845b\u8bb0\u7116\u997c(\u7ecf\u4e00\u8def\u5e97)",
                "\u57ce\u5899\u6839\u8336\u9986(\u91d1\u6c34\u8def\u5e97)",
                "\u9e1f\u862d\u70e7\u8089\u4e00\u756a(\u82b1\u56ed\u8def\u4e07\u8fbe\u574a\u5e97)"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u7f8e\u98df\u5e97\u94fa\u8bc4\u8bba\u4eba\u6570top10",
            "target": "blank",
            "subtarget": "blank",
            "left": "37%",
            "bottom": "2%",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_17217029fa6c4c8ebc73f944b630bea7.setOption(option_17217029fa6c4c8ebc73f944b630bea7);
    </script>
</body>
</html>
