body {
	margin: 0;
	background:  #4F4F4F;
}

#title {
	position: absolute;
	width: 40%;
	height: 10%;
	top: 0%;
	left: 30%;
	/* background: #666666; */
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#time {
	position: absolute;
	/* width: 30%; */
	height: 10%;
	top: 5%;
	right: 2%;
	color: #FFFFFF;
	font-size: 20px;
	/* background: green; */
}



.num {
	width: 25%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gold;
	font-size: 18px;
}
.txt {
	width: 25%;
	float: left;
	font-family: "幼圆";
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: white;
}
#risk {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	left: 0%;
	background: #333;
}
.high_risk{
	color: red;
}
.middle_risk{
	color: yellow;
}
#risk_wrapper{
	margin-top: 2.5%;
	overflow: hidden;
	height: 80%;
	text-align: center;
}

#risk .title{
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
}
#risk .ts{
	color: white;
	font-size: 14px;
	text-align: right;
}
#risk ul{
	list-style: none;
}
#risk li{
	color: white;
	text-align: justify;
	font-size: 12px;

}


#c1 {
	position: absolute;
	width: 40%;
	height: 30%;
	top: 10%;
	left: 30%;
	/* background: #777777; */
}
#c2 {
	position: absolute;
	width: 38%;
	height: 65%;
	bottom: 0.1%;
	left: 30%;
	background: #4F4F4F;
}

#l1 {
	position: absolute;
	width: 30%;
	height: 50%;
	top: 1%;
	left: 0%;
	background: #4F4F4F;
}

/*#l2 {*/
/*	position: absolute;*/
/*	width: 30%;*/
/*	height: 45%;*/
/*	top: 55%;*/
/*	left: 0%;*/
/*	background: #4F4F4F;*/
/*}*/

#r2 {
	position: absolute;
	width: 28%;
	height: 45%;
	top: 10%;
	right: 0%;
	background: #4F4F4F;
}

#r1 {
	position: absolute;
	width: 40%;
	height: 50%;
	top: 55%;
	right: -3%;
	background: #4F4F4F;
}

#risk {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 52%;
	left: 0%;
	background: #4F4F4F;
}
